* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#anime {
  width: 80%;
}

.container {
  position: absolute;
  left: 50% calc(-50%);
  top: 43%;
}

.heading {
  color: rgb(10, 22, 239);
  font-size: 20px;
  font-weight: 300;
}

.music {
  display: none;
}
