@font-face {
  font-family: "pala";
  src: url("../fonts/pala.ttf");
}

@font-face {
  font-family: "palab";
  src: url("../fonts/palab.ttf");
}

@font-face {
  font-family: "palatino";
  src: url("../fonts/Palatino.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

main iframe {
  width: 65vw;
  height: 65vh;
  display: none;
  border: 1px solid rgb(10, 22, 239);
}

#anime {
  width: 85%;
}

.heading {
  display: none;
  position: absolute;
  left: 50% calc(-50%);
  top: 42.5%;
  color: rgb(10, 22, 239);
  font-family: "pala";
  font-size: 20px;
  font-weight: 300;
}

form {
  display: none;
  position: absolute;
  left: 50% calc(-50%);
  top: 42%;
}

form input {
  width: 25vw;
  height: 5vh;
  border: 2px solid rgb(10, 22, 239);
  background-color: black;
  margin: 0 10px;
  color: rgb(10, 22, 239);
  text-align: center;
  font-size: 1.5em;
  font-family: "pala";
}
.music {
  display: none;
}

.conteneur_iframe_texte {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#contenu_video {
  width: 65vw;
  display: none;
  justify-content: space-between;
}

#contenu_video img {
  width: 10vw;
}

.texte_video {
  width: 80%;
  color: rgb(10, 22, 239);
}

.texte_video h1 {
  font-size: 25px;
  font-family: "palatino";
  margin-bottom: 5px;
}

.texte_video p {
  font-size: 17px;
  font-family: "palatino";
}

.duree_video {
  margin-top: 40px;
}
