@font-face {
  font-family: "pala";
  src: url("../fonts/pala.ttf");
}

@font-face {
  font-family: "palab";
  src: url("../fonts/palab.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

main iframe {
  width: 50vw;
  height: 50vh;
  display: none;
  border: 3px solid rgb(10, 22, 239);
}

#anime {
  width: 80%;
}

.heading {
  display: none;
  position: absolute;
  left: 50% calc(-50%);
  top: 43%;
  color: rgb(10, 22, 239);
  font-size: 20px;
  font-weight: 300;
}

form {
  display: none;
  position: absolute;
  left: 50% calc(-50%);
  top: 42%;
}

form input {
  /* width: 2.5vw; */
  height: 5vh;
  border: 2px solid rgb(10, 22, 239);
  background-color: black;
  margin: 0 10px;
  color: rgb(10, 22, 239);
  text-align: center;
  font-size: 1.5em;
  font-family: "pala";
}
.music {
  display: none;
}
